<%- include('../parties/header.ejs') %>

<section id="notepad">
<div id="pad">
    <div class="heading"><h1><%= locals.date %></h1></div>
    <form action="/" method="post" class="input"><input type="text" name="List" id="input" placeholder="New item" required>
    <button >+</button></form>
        
    
   <div class="worklist"><% for(var i =0; i < list.length ; i++) {%>
   <div id="list"><input type="checkbox" class="cbox4" value="fourth_checkbox"> <label for="cbox4"><%= list[i]  %></label></div><hr />
    <% } %></div>
</div>
</section>

<%- include('../parties/footer.ejs') %>